body {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 0;
}

.container {
    border: 5px solid black;
    padding: 20px;
    /* max-width: 800px; */
    margin: auto;
    background-color: #3a5a40;
}

header {
    padding: 10px;
    text-align: center;
}

.content {
    display:flex;
    align-items: center; 
}
.content p {
    font-size: 1.25em; 
    line-height: 1.6; 
    font-weight: bold; 
    color: #EAE0C8; 
}



.content img {
    width: 25em;
    height: auto;
    border-radius: 50%;
    padding: 10px;
}
h1{
    text-align: center;
    text-transform: capitalize;
    background-color: #588157;
    padding: 30px;
    border: 5px solid black;
}
.class {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    width: 90%; 
    margin: auto;
    padding: 20px;
}

.class img {
    width: 20%; 
}
body{
    background-color: #a3b18a;
}
*{
    color:white
}
@media(max-width:600px){
    body{
        background-color: rgb(82, 82, 114);
        font-size:small;
        text-align: center;
    }
    p{
        background-color: #5d3f5f;
        font-size: small;
        color:aliceblue
    }
    h1{
        text-align: center;
        text-transform: capitalize;
        background-color: #44364b;
        padding: 30px;
        border: 5px solid black;
}
.container {
    border: 5px solid black;
    padding: 20px;
    /* max-width: 800px; */
    margin: auto;
    background-color:  #5d3f5f;
}
}